/*#slides{
    margin-top: 11.9vh;
}

.carousel-inner img{
    width: 100%;
    height: 88vh;
    object-fit: cover;
}*/


.carousel-container img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    /*filter: brightness(70%);*/
}

.carousel-overlayText {
    font-family: Syne,sans-serif;
    background-color: white;
    color: black;
    padding: 0.8rem;
    font-size: 1.7rem;
    font-weight:900;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-overlayText-second {
    /*font-family: Syne,sans-serif;
    background-color: white;
    color: black;
    padding: 0.7rem;
    font-size: 2rem;*/
    color: #ffffff;
    font-size: 1.5rem;
    /*font-weight:800;*/
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9); /* Stronger shadow effect */
    font-weight: 900;
    -webkit-text-stroke: 0.5px black;
}

.shop-link {
    position: absolute;
    /*bottom: 75px;
    left: 50px;*/
    z-index: 20;
    color: white;
    background-color: #AD2221 !important;
    /*background-color: rgba(0, 0, 0, 0.85); /*background-color: #FF4500;*/
    padding: 10px 20px;
    border-radius: 10px; /*border-radius: 5px;*/
    font-size: 1.35rem; /*1rem*/
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /*transition: background-color 0.3s ease;*/
    width: 200px; /*225px*/
    text-align: center;
    top: 83%;
    left: 14%;
    transform: translate(-50%, -50%);

    /*Black shadow*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);*/

    /*Glowing yellow shadow - Glowing effect*/
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.852), 0 0 20px rgba(255, 68, 0, 0.541);*/
    
    
}

.shop-link:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #ffd700;
}

#Home{
    scroll-margin-top: 80px;
}

@media (min-width: 1351px) {
    .shop-link{
        font-size: 1.75rem;
        width: 260px;
        top: 80%;
    }
}

@media (max-width: 1350px) {
    .carousel-overlayText{
        font-size: 1.2rem;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .carousel-overlayText-second{
        top: 88%;
        text-align: center;
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    .carousel-overlayText{
        top: 59%;
        font-size: 1.3rem;
    }

    .carousel-overlayText-second{
        top: 65%;
        text-align: center;
        font-size: 1rem;
        display: none; /*ausgeblendet!!!*/
    }

    .carousel-inner img{
        height: 70vh;
    }

    #carouselSlides{
        margin-top: -10vh;
    }

    .shop-link{
        left: 50%;
        top: 72%
    }
}

@media (max-width: 600px) {
    .carousel-overlayText{
        top: 75%;
        font-size: 1rem;
    }

    .carousel-overlayText-second{
        top: 87%;
        text-align: center;
        font-size: 0.85rem;
        display: none; /*ausgeblendet!!!*/
    }

    .carousel-inner img{
        height: 85vh;
    }

    .shop-link{
        left: 50%;
        top: 89%;
        font-size: 1.0rem;
    }
}

/*
.carousel-control-prev{
    background-color: lightgrey;
    height: 20vh;
    width: 20vh
}
*/