/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


body{
    background-image: url("../images/bg_skiing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

/*
#header{
    margin-bottom: 8vh;
}*/

#cards{
    /*background-color: whitesmoke;*/
    /*background-color: rgb(168, 168, 168);*/
    background-image: url("./../images/bg_ebike.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    padding-top: 1px;
    padding-bottom: 1px;
}

body{background-color: #000}.card{border:none}.product{background-color: #eee}.brand{font-size: 13px}.act-price{color:red;font-weight: 700}.dis-price{text-decoration: line-through; margin-left: 0.2vw;}.about{font-size: 14px}.color{margin-bottom:10px}label.radio{cursor: pointer; margin-right:0.3vw}label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}label.radio span{padding: 2px 9px;border: 2px solid #ff0000;display: inline-block;color: #ff0000;border-radius: 3px;text-transform: uppercase}label.radio input:checked+span{border-color: #ff0000;background-color: #ff0000;color: #fff}.btn-danger{background-color: #ff0000 !important;border-color: #ff0000 !important}.btn-danger:hover{background-color: #da0606 !important;border-color: #da0606 !important}.btn-danger:focus{box-shadow: none}.cart i{margin-right: 10px}

@media (max-width: 768px) {
    .ebike-card{
        padding: 18px;
    }
}