#kontakte{
    padding: 4vh;
    padding-bottom: 2vh;
}

.kontakteContainer{
    max-width: 1600px;
    margin: auto;
}

.header{
    font-weight: bold;
}

#leftContainer{
    padding-left: 5vw;
    padding-top: 5vh;
}

#icons{
    padding-top: 1vh;
}

#fbIcon, #instaIcon, #gitIcon{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
}

#fbIcon:hover, #instaIcon:hover, #gitIcon:hover{
    border-color: blue;
}

#fbSpan, #instaSpan, #gitSpan{
    padding: 2px;
}

#rightContainer{
    padding-left: 5vw;
    padding-top: 5vh;
}

#messageInput{
    resize: none;
}

#tel, #email{
    color: black;
    text-decoration: none;
}

#tel:hover, #email:hover{
    color: blue;
    text-decoration: underline;
}

.linkImpressum, .linkPrivacy{
    color: black;
}

.linkImpressum:hover, .linkPrivacy:hover{
    color: blue;
}

/*
@media (min-width: 1600px) {
    #kontakte{
        padding-left: 20rem;
        padding-right: 20rem;
    }
}*/

/* Media Querie?
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 576px){}
*/

